{% extends 'layouts/layouts.html' %}
{% load static %}

{% block title %}Safar Academy - Home{% endblock %}

{% block content %}
<!-- admin home page -->
{% if user.is_staff %}

{% include 'index/admin_landing_page.html' %}
{% endif %}
<!-- public landing page -->
{% if not user.is_staff and not user.is_authenticated %}

{% include 'index/public_landing_page.html' %}

{% endif %}
<!-- student dashboard -->
{% if user.is_authenticated and not user.is_staff %}

{% include 'index/student_dashboard.html' %}
{% endif %}

<style>
    .animate-fade-in {
        animation: fadeIn 0.5s ease-out forwards;
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Add delay to elements */
    .animate-fade-in:nth-child(2) {
        animation-delay: 0.1s;
    }

    .animate-fade-in:nth-child(3) {
        animation-delay: 0.2s;
    }

    .animate-fade-in:nth-child(4) {
        animation-delay: 0.3s;
    }

    .animate-fade-in:nth-child(5) {
        animation-delay: 0.4s;
    }
</style>
{% endblock %}